.header {
    background: linear-gradient(180deg, #94fae6 0%, #befa94 100%);
    color: black;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    padding: 40px;
}

.sub {
    font-weight: 100;
    font-size: 22px;
}
