.backHome {
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #94fae6 0%, #befa94 100%);
  width: 18%;
  padding: 20px;
  border: 2px solid black;
  cursor: pointer;

  span {
    margin-top: 3px;
  }

  .backHome:hover {
    background: white;
  }
}

.links {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.containerPoliticas {
  background: linear-gradient(180deg, #94fae6 0%, #befa94 100%);
  padding: 50px;
  width: calc(80%  - 100px);
  margin: auto;
  font-size: 20px;
  text-align: justify;

  h1 {
    text-align: center;
  }

  ul {
    margin-left: 20px;
  }

  a {
    color: blue;
  }
}

@media screen and (max-width: 500px) {
  .containerPoliticas {
    padding: 30px;
    width: 280px;
  }

  .backHome {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 250px;
  }
}
